.light-theme{
    background-color: white;
    color: black;
    --clr: black;
    --text-clr: black;
    --arr-bg-clr: rgb(2, 2, 45);
    --arr-clr: white;
}

.dark-theme{
    background-color: rgb(2, 2, 48);
    color: white;
    --clr: white;
    --text-clr: black;
    --arr-bg-clr: white;
    --arr-clr: rgb(2, 2, 45);
}

.footer{
    color: var(--clr);
}

.material-symbols-outlined{
    color: var(--text-clr);
}

.top-btn{
    background-color: var(--arr-bg-clr) ;
}

.fa-solid{
    color: var(--arr-clr);
}