/* DownloadPrint */
@media print {
  #no-print {
    display: none;
  }
  #resume-print {
    display: block;
  }
  body{
    margin: 0;
    padding: 0; 
    box-shadow: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

/* Home */
::-webkit-scrollbar{
  width: 0.75rem; /* smaller width */
  height: 0.1rem;
}

::-webkit-scrollbar-track{
  background-color: rgb(24, 24, 29);
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* Card */
.card-logo-1{
  background:linear-gradient(45deg, rgb(17 51 110), rgb(62 159 239));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-logo-2{
  background:linear-gradient(45deg, rgb(139, 50, 241), rgb(62 159 239));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-logo-3{
  background:linear-gradient(45deg, rgb(135, 170, 231), rgb(62 159 239));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}